<footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script> -->

	<!-- Common js code -->
	<!-- <script src="{{ site.baseurl }}/js/common.js"></script> -->


	<!-- page-specific scripts, if any -->
	{% if page.scripts %}
		{% for script in page.scripts %}
			<script src="{{ site.baseurl }}/{{ script }}"></script>
		{% endfor %}
	{% endif %}

</footer>
