<div class="container" style="margin-top: 10px">

	<nav class="navbar" role="navigation">
	  <div class="container-fluid">

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <!-- LINKS -->
		  <ul class="nav navbar-nav">
			<li><a href="{{ site.baseurl }}/security.html">Security Analysis</a></li>
			<li><a href="{{ site.baseurl }}/documentation.html">Tech Specs</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->

	  </div><!-- /.container-fluid -->
	</nav><!-- navbar -->

</div> <!-- container -->
